CREATE TABLE FullTimeEquivalents
(
	FullTimeEquivialentsId INT           NOT NULL UNIQUE,
	OperatingPlansId       INT           NULL,
	RpioCode               NVARCHAR(150) NULL DEFAULT ('NS'),
	RpioName               NVARCHAR(150) NULL DEFAULT ('NS'),
	BFY                    NVARCHAR(150) NULL DEFAULT ('NS'),
	EFY                    NVARCHAR(150) NULL DEFAULT ('NS'),
	AhCode                 NVARCHAR(150) NULL DEFAULT ('NS'),
	FundCode               NVARCHAR(150) NULL DEFAULT ('NS'),
	OrgCode                NVARCHAR(150) NULL DEFAULT ('NS'),
	AccountCode            NVARCHAR(150) NULL DEFAULT ('NS'),
	RcCode                 NVARCHAR(150) NULL DEFAULT ('NS'),
	BocCode                NVARCHAR(150) NULL DEFAULT ('NS'),
	BocName                NVARCHAR(150) NULL DEFAULT ('NS'),
	Amount                 FLOAT         NULL DEFAULT (0.0),
	ITProjectCode          NVARCHAR(150) NULL DEFAULT ('NS'),
	ProjectCode            NVARCHAR(150) NULL DEFAULT ('NS'),
	ProjectName            NVARCHAR(150) NULL DEFAULT ('NS'),
	NpmCode                NVARCHAR(150) NULL DEFAULT ('NS'),
	ProjectTypeName        NVARCHAR(150) NULL DEFAULT ('NS'),
	ProjectTypeCode        NVARCHAR(150) NULL DEFAULT ('NS'),
	ProgramProjectCode     NVARCHAR(150) NULL DEFAULT ('NS'),
	ProgramAreaCode        NVARCHAR(150) NULL DEFAULT ('NS'),
	NpmName                NVARCHAR(150) NULL DEFAULT ('NS'),
	AhName                 NVARCHAR(150) NULL DEFAULT ('NS'),
	FundName               NVARCHAR(150) NULL DEFAULT ('NS'),
	OrgName                NVARCHAR(150) NULL DEFAULT ('NS'),
	RcName                 NVARCHAR(150) NULL DEFAULT ('NS'),
	ProgramProjectName     NVARCHAR(150) NULL DEFAULT ('NS'),
	ActivityCode           NVARCHAR(150) NULL DEFAULT ('NS'),
	ActivityName           NVARCHAR(150) NULL DEFAULT ('NS'),
	LocalCode              NVARCHAR(150) NULL DEFAULT ('NS'),
	LocalCodeName          NVARCHAR(150) NULL DEFAULT ('NS'),
	ProgramAreaName        NVARCHAR(150) NULL DEFAULT ('NS'),
	CostAreaCode           NVARCHAR(150) NULL DEFAULT ('NS'),
	CostAreaName           NVARCHAR(150) NULL DEFAULT ('NS'),
	GoalCode               NVARCHAR(150) NULL DEFAULT ('NS'),
	GoalName               NVARCHAR(150) NULL DEFAULT ('NS'),
	ObjectiveCode          NVARCHAR(150) NULL DEFAULT ('NS'),
	ObjectiveName          NVARCHAR(150) NULL DEFAULT ('NS'),
	CONSTRAINT FullTimeEquivalentsPrimaryKey PRIMARY KEY
		(
		  FullTimeEquivialentsId
			)
);
